extends layout

block content

  h1 
  h2 
  .colheaders(role='region' aria-labelledby='HeadersRow' tabindex='0')
  
      
      
        
       
  h2 
  .rowheaders(role='region' aria-labelledby='HeadersCol' tabindex='0')
    
      
     
  h2 Scrolling in Two Directions
  .rowheaders(role='region' aria-labelledby='HeadersCol' tabindex='0')
    table
      caption#HeadersCol Books with a Fixed Row Header Column
      thead
        tr
          th Nombre
          th Lun
          th Mar
          th Mier
          th Jue
          th Vie
          th Sab
          th dom
          th Nombre
          th Lun
          th Mar
          th Mier
          th Jue
          th Vie
          th Sab
          th dom
          th Nombre
          th Lun
          th Mar
          th Mier
          th Jue
          th Vie
          th Sab
          th dom
          th Nombre
          th Lun
          th Mar
          th Mier
          th Jue
          th Vie
          th Sab
          th dom
      tbody
        tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre
               tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre
          tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre
               tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre
           tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre
               tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre
           tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre
               tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre
           tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre
               tr
          th(scope='row') Miguel De Cervantes
          td Aus
          td Pre
          td Pre
          td Pre
        tr
          th(scope='row') Gabrielle-Suzanne 
          td Pre
          td Aus
          td Pre
          td Aus
        tr
          th(scope='row') Sir Isaac Newton
          td Pre
          td Aus
          td Pre
          td Pre

    
    

