body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
  padding: 0;
}

table {
  display: block;
  position: relative;
  border-collapse: collapse;
  overflow-y: scroll;
  max-height: 535px;
}

tbody {
  overflow-y: auto;
}

table tr th {
  width: 1%;
  white-space: nowrap;
}

td,
th {
  padding: 0.25em;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0px;
  background: #000;
  color: #fff;
  text-align: center;
}

thead th:first-child {
  left: 0;
  z-index: 2;
}

thead th {
  position: sticky;
  top: 0;
}

tbody th:first-child {
  left: 0;
  z-index: 1;
}

tbody tr th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background: #000;
  border-right: 1px solid #ccc;
  color: #ffffff;
}

table tbody tr th {
  width: 2%;
  white-space: nowrap;
  background-color: lightgray;
  color: rgb(12, 6, 6);
}

table tbody tr td {
  width: 100px;
}
.row.status {
  padding-left: 20px;
  padding-right: 20px;
}

table tbody tr td.PRES {
  background-color: #65fca9;
}

table tbody tr td.VAC {
  background-color: blueviolet;
}

table tbody tr td.AusCA {
  background-color: #fc6565;
}

table tbody tr td.TAR {
  background-color: yellow;
}

table tbody tr td.AusSA {
  background-color: red;
}

table tbody tr td.PGCA {
  background-color: #fcc765;
}

.table-responsive {
  border-top: none;
}
